<!DOCTYPE html>
<html>
<head>
	<title>Phishing</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styling.css')}}">
	<style type=text/css>
		.leftdiv
		{
		float: left;
		}
		.middlediv
		{
		float: left;
		
		}
		.rightdiv
		{
		float: left;
		}
		div{
		padding : 1%;
		color: white;
		background-color: 009900;
		width: 30%;
		
		}
	 </style>
	
</head> 
<body>
	<center>
	<h1>Web Phishing Detection</h1>
	</center>
	
		<p>
			<form action="/predict">
				<button>Next</button>
				
				
			</form>

		</p>		
 
	

	
</body>
</html>